{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l8">
            <h5>{{ video.get('title') }}</h5>
            <hr>
            <div class="video-container">
                <iframe src="{{ video.video }}" width="400" height="200"></iframe>
            </div>
            <hr>
            <p>Uploaded by {{ video.get('uploader') }}</p>
            <p>{{ video.get('description') }}</p>
            <p>Likes: {{ video.get('likes') }} | {{ video.get('dislikes') }} :sekilsiD</p>
            <p>Views: {{ video.get('views') }}</p>
            <hr>
        </div>
        <div class="col s12 m12 l4">
            <h5>Relevant Videos:</h5>
            {% for video in database_get_videos("query", video.title).items() %}
            {% set video = video[1] %}
                <a href="{{ url_for('view_video', video_id=video.get('id')) }}"><p>{{ video.get('title') }} | Relevancy to video title: {{ video.get('weight') }}</p></a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}